# Question_1st: Discuss string slicing and provide examples.

In [4]:
#answes

In [5]:
#Description : String slicing in programming refers to extracting a subset of characters from a string based on 
#specified start and end positions.
#This operation is commonly used in many programming languages, including Python, which has particularly 
#intuitive syntax for slicing.

In [6]:
#In Python, slicing is done using the following syntax:

# " string[start:end:step] "

#start: The index of the first character to include in the slice.
#end: The index of the first character to exclude from the slice.
#step: The interval between characters to include in the slice.

In [7]:
#Examples: 
text= "Data Science"
basicSlice= text[0:2] # print string from 0 to 6-1 characters
basicSlice # Output is 'Da'

'Da'

In [8]:
omitStartSlice=text[2:] # takes characters from index 2 to the end 
omitStartSlice# Output is 'ta Science'

'ta Science'

In [9]:
omitENdSlice=text[:6]# takes characters from index 0 to the 6-1=5 as end 
omitENdSlice# Output is 'Data S'

'Data S'

In [10]:
stepSlice= text[::3] # takes every 3 indexs , like 0 3 6 9 ....
stepSlice# Output is 'Dacn'

'Dacn'

In [11]:
negatveSlice= text[:-2] # if negative at end position it give all letters expect mentioned negative index , 
#Here skill last 2 letters 
negatveSlice#output is 'Data Scien'

'Data Scien'

In [12]:
negatveSlice1=text[-3:] #if at start negative is mentioned it give only mentioned last index values
negatveSlice1#output is 'nce'

'nce'

In [13]:
reverseSlice=text[::-1] #in step if negative its give string in reverse wise
reverseSlice #Output is 'ecneicS ataD'

'ecneicS ataD'

# Question_2: Explain the key features of lists in Python.

In [14]:
#answer

In [15]:
#Description : List is Ordered,mutable, Heterogeneous collection of elements. List can contain the collection of numbers, 
#string , tuple and sets collection , it can hold another list as well . 

# We can perform verious operations on List data in Python . That is add remove multiply elements , 
#also its mutable hence we can perform modification of elements as well . 
#List can be used data structure methods such as " Stack " and " queue "
#Use cases:
# can share shopping details , student and teacher details , employee details .

In [16]:
#Example : Mized data list and performining verious operation on List data 

data =["Isha", "Student of PWSKills", 560056, False]
data # COllection of string , numbers and boolean data

['Isha', 'Student of PWSKills', 560056, False]

In [17]:
data.append("Happy") #Append fn always add data at the end of the list 
data

['Isha', 'Student of PWSKills', 560056, False, 'Happy']

In [18]:
data.insert(2,"Data Science") # insert fn used to add the element at the perticular mentioned index
data # 'Data Science' added at 2nd index

['Isha', 'Student of PWSKills', 'Data Science', 560056, False, 'Happy']

In [19]:
data[0:3]#display element frm 0 to 3-1 index

['Isha', 'Student of PWSKills', 'Data Science']

In [20]:
data[::2]#display elements by adding 2 steps thats 0 , 2 , 4 ....

['Isha', 'Data Science', False]

In [21]:
data2=[1,2,3]
data.extend(data2) # Extend fn add add the another list's element .
data

['Isha',
 'Student of PWSKills',
 'Data Science',
 560056,
 False,
 'Happy',
 1,
 2,
 3]

In [22]:
data.index("Isha") # Gives the index of the data

0

In [23]:
data.pop() # remove last element

3

In [24]:
data.remove("Isha") #Remove fn remove the perticular element 
data # List data after removing "Isha "

['Student of PWSKills', 'Data Science', 560056, False, 'Happy', 1, 2]

In [25]:
data3=["Nested list data"]
data.append(data3) # Data3 will be added as list inside the "data " list 
data

['Student of PWSKills',
 'Data Science',
 560056,
 False,
 'Happy',
 1,
 2,
 ['Nested list data']]

In [26]:
#In Python list has verious data oepration function which can ber performed to add , remove data at perticular element 
#as well as for stack and queue data strcutures . we can perform sorting as well using List. Above are the example of  
#using these functions on list

# Question_3 : Describe how to accesse modify and delete elements in a list with examples.

In [27]:
#Answer

In [28]:
#In Python, lists are highly flexible and allow you to access, modify, and delete elements easily.
#Here's a detailed explanation with examples:

In [29]:
#Accessing Elements:
# We can able to access the elements using the index and slicing as well.

In [30]:
#1. Acess the elements of the list using the index
listData=["Isha","PW skills", 1401 , True, "@gmail"] # In list index always start from 0 and end lenngth-1
listData

['Isha', 'PW skills', 1401, True, '@gmail']

In [31]:
listData[0] # Give values of 0 index that is first index

'Isha'

In [32]:
listData[len(listData)-1] #gives last index value that is length -1

'@gmail'

In [33]:
listData[-1] #negative value indiate access the element from last element and -1 is last index

'@gmail'

In [34]:
#2. Acess the elements of the list using the Slicing
listData[2::] #Gives value from mentioned index at the start parameter

[1401, True, '@gmail']

In [35]:
listData[:3:] #provide the element till the index which is mentioned at the end parameter

['Isha', 'PW skills', 1401]

In [36]:
listData[::3] #Give element as steps mentioned in the step paramter . Here give values at 0,3,6....

['Isha', True]

In [37]:
listData[:-2] # Negative value at end indicate it skip the index from last and display

['Isha', 'PW skills', 1401]

In [38]:
listData[-3:] # Negative value at sart indicate provide only last elements as mentioned index

[1401, True, '@gmail']

In [39]:
#Modify the list elements :
# We can modify the list element directly by assigning new value to them , by using slicing as well 
#List data can be extended using extend function

In [40]:
#Example of directy modifying
studentData=["Isha", "Swathi", " Abbas "]
studentData

['Isha', 'Swathi', ' Abbas ']

In [41]:
studentData[1]="Isha J" # Modifying 1st indexed data from "Swathi" to " Isha J"
studentData

['Isha', 'Isha J', ' Abbas ']

In [42]:
#Example of using slicing

In [43]:
studentData[0:1] =["ABC"] # Added tring in list becouse ABC should be consider as one element , 
#if we give "ABC" as string , its consider each character as one element . 
studentData

['ABC', 'Isha J', ' Abbas ']

In [44]:
#Delete the list elements :
# We can remove the list element using the 3 methonds 
#1. del
#2. remove()
#3: pop()

#Here is the example using movie data list
movieList=["Avatar","KGF", "Oblivision", "Kirik Party", "jab we Met"]
movieList

['Avatar', 'KGF', 'Oblivision', 'Kirik Party', 'jab we Met']

In [45]:
#del() : syntax : del list[index] or del list
#The del statement removes an element from a list at a specific index or deletes the entire list.
del movieList[-1] # Last index has been deleted 
movieList

['Avatar', 'KGF', 'Oblivision', 'Kirik Party']

In [46]:
#remove() : syntax : list.remove(value)
#The .remove() method removes the first occurrence of a specified value from the list. 
#If the value is not found, it raises a ValueError.

movieList.remove("KGF") # if KGi found it removes the data else raise the error
movieList #"KGF"found and removed from the list

['Avatar', 'Oblivision', 'Kirik Party']

In [47]:
#pop() : synatx list.pop(index)  or list.pop
#The .pop() method removes and returns the element at a specified index.
#If no index is provided, it removes and returns the last element in the list.
#If the index is out of range, it raises an IndexError.

movieList.pop() # Not specified the index hence last indexed value has been deleted
movieList

['Avatar', 'Oblivision']

# Question_4:-Compare and contrast tuples and lists with examples .

In [48]:
#Answer

In [49]:
#Tuples and lists are fundamental data structures in Python used to store collections of items.
#Here’s a detailed comparison that highlights both their similarities and differences:

In [69]:
#Similarities

#1. Ordered: Both tuples and lists maintain the order of elements. 
#You can access elements by their index, which is zero-based.

#2.  Indexing and Slicing: Both support indexing and slicing. 
#You can access elements using indices and create sub-sections (slices) of the sequence.

#3.  Iterable: Both can be iterated over using loops, such as for loops.

#4.  Nested Structures: Both can contain other lists or tuples, allowing for complex nested structures.

#Example 
fruitList = ["Apple", "Banana", "Grapes"] # List data
fruitTuple = ("Apple", "Grapes", "Orange") #TUple data
print ("List fruit data:")
for fruit in fruitList:  # Using for loop to iterate element of list 
    print(fruit)
print ("\nTuple fruit data:")
for fruit in fruitTuple:# Using for loop to iterate element of Tuple 
    print(fruit)

List fruit data:
Apple
Banana
Grapes

Tuple fruit data:
Apple
Grapes
Orange

In [51]:
#Differnces:

# List and tuples has differnce in *Mutability , *Syntax, *Performance ,
#*methods using by both list and tuple ,*Use as Dictionary Keys and * Memory Consumption:

In [56]:
#  1. Syntax 
#List: Created using square brackets [].
#Tuple: Created using parentheses ().
lstData=[1,2,3,4,5,]
tplData=(1,2,3,4,5)
print(lstData)
print(tplData)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [53]:
# 2.    Mutability:
#List: Mutable. You can modify, add, or remove elements.
#Tuple: Immutable. Once created, you cannot change its contents.
lstData[1]=100 # List 1st indexed data has be modied to 100 from 2
print(lstData)

[1, 100, 3, 4, 5]

In [54]:
tplData[1]=100 # it throw an error because once data of tuple created cant be modefied

TypeError: 'tuple' object does not support item assignment

In [58]:
# 3.  methods using by both list and tuple

#List: Has methods for modification such as 
#.append(), .extend(), .remove(), .pop(), .insert(), .sort(), and .reverse().

#Tuple: Has fewer methods, mainly .count() and .index().
#Tuple are immutable hence has less methods to cofirm apart from accepting the tuple elements 

lstData.append(7) # append add the element at end 
lstData.insert(0,123) # Insert add element at place of the index mentioned as 1st parameter 
print("after ading 2 elements ", lstData)
lstData.pop() # removes last element if no index mentioned 
print("after deleting last elemnt list data is : ", lstData)
lstData.reverse()
print("Reverse of list data " , lstData)

after ading 2 elements  [123, 5, 4, 3, 2, 1, 123, 7]
after deleting last elemnt list data is :  [123, 5, 4, 3, 2, 1, 123]
Reverse of list data  [123, 1, 2, 3, 4, 5, 123]

In [ ]:
# 4.  Use as Dictionary Keys:
#List: Cannot be used as dictionary keys because they are mutable.
#Tuple: Can be used as dictionary keys because they are immutable.

In [59]:
lst1=["Isha"]
tpl1=("Esha")
discData1 ={ tpl1:"Tuple s immetable"}
discData

{'Esha': 'Tuple s immetable'}

In [61]:
discData2 ={ lst1:"List s mutable"} # throw error becuse  keys values should be immutable and list is mutable 
discData2

TypeError: unhashable type: 'list'

# Question_5: Describe the key creatures of sets and provide examples of their use

In [70]:
#Description : Sets are one of the data structure in the python nd it used to store the unique data . 
#A set in Python is a collection of unique elements. Sets are defined using curly braces {} or the set() constructor.

#Key features of sets in python is :
#  1. Uniqueness
# 2.  Mutable
# 3.  Unordered
# 4. Set Operations
#5. Frozensets
#6 . Membership Testing
#7. Set Methods

# details of key feaured mentioned in below with examples .

In [6]:
#  1. Uniqueness : Sets automatically remove duplicate elements.
sData = {1,100, 120, 2, 2, 3}
print(f"Unique element set data {sData}")  # Output: {1, 2, 3}

# 2.  Mutable : Sets can be modified after creation.
# 3.  Unordered : Elements do not have a specific order. Sets how display in orders way how input has given 

sData.add(4)
print(f"Display the set data after adding element {sData}")  # Output: {1, 2, 3, 4}

Unique element set data {1, 2, 3, 100, 120}
Display the set data after adding element {1, 2, 3, 100, 4, 120}
{0, 1, 2, 3, 100, 4, 120}

In [9]:
# 4. Set Operations
#Sets support operations like union, intersection,  difference and symmetric differnce. 
# here are the way to define all sets operation 
# union represent by "|" set1 | set2
#Intersection represented by "&" set1 & set2
#Difference represented by " set1-set2"
#Symmetric Difference represented  by "^" set1^set2

#example 
s1={1,2,3,4,5,6}
s2={6,3,7,8,9,0}
print(f"Union result {s1|s2}")
print(f"Intersection result {s1&s2}")
print(f"Difference result {s1-s2}")
print(f"symmetric differnc result {s1^s2}")

Union result {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection result {3, 6}
Difference result {1, 2, 4, 5}
symmetric differnc result {0, 1, 2, 4, 5, 7, 8, 9}

In [19]:
#5. Frozensets
#In Python, a frozenset is an immutable version of a set. While regular sets (set) are mutable and allow 
#modifications (like adding or removing elements), frozensets are immutable and thus cannot be changed once 
#they are created. Here’s a concise overview of frozensets:

#Frozenset will be denoted by frozenset([Element1, element2 ........])

frozSet=frozenset([1, 2, 3, 3])
frozSet.add("ABC") # throw an error 
print(frozSet)

AttributeError: 'frozenset' object has no attribute 'add'

In [21]:
#6 . Membership Testing
# Check weather given element is present in set using "is" 
#Example 

checkSet={True, "Isha" , "Isha" , 5600, 1401}
print(0 in checkSet ) # if 0 in given set result will be true else false

False

In [4]:
#7. Set Methods
# in Python there are many methods are used to perform on set data structre thats are

# add() : Purpose: Adds a single element to the set. If the element already exists,
#the set remains unchanged (since sets are collections of unique elements).
#Syntax: set.add(element)

# remove(): Purpose: Removes a specific element from the set. Raises a KeyError if the element is not found.
#Syntax: set.remove(element)

# pop():Purpose: Removes and returns an arbitrary element from the set. If the set is empty, it raises a KeyError.
#Syntax: set.pop()

#update(): Purpose: Adds elements from an iterable (such as another set or a list) to the set.
#Syntax: set.update(element)

#clear(): Removes all elements from the set, leaving it empty.
#Syntax: set.clear()


#discard() : Removes a specific element from the set if it exists.
#Does nothing if the element is not found (no error is raised).
#Syntax: set.discard(element)

# Examples 
stateData={"Karnakata", "Delhi"}
stateData.add("Mumbai")
print(f"After adding data to set {stateData}")
stateData.remove("Karnakata")
print(f"After removing data to set {stateData}")
print(f" after using pop operation: present data is : {stateData.pop()}") # remove random element
stateData.update(["Andra"], ["Kashmir"]) # adding 2 element to Set
print(f"After adding multiple element  data to set: {stateData}")
stateData.clear()
print(f"After clearing all the data from set:\n {stateData}") # empty set will be display

After adding data to set {'Delhi', 'Karnakata', 'Mumbai'}
After removing data to set {'Delhi', 'Mumbai'}
 after using pop operation: present data is : Delhi
After adding multiple element  data to set: {'Kashmir', 'Andra', 'Mumbai'}
After clearing all the data from set:
 set()

# Question_6:- Discuss the use cases of tuples and sets in Python programming.

In [5]:
#Answer

In [6]:
#Tuples
#Definition: A tuple is an immutable, ordered collection of elements. Once created, the elements of a tuple 
#cannot be changed, added, or removed. Tuples can hold elements of different data types and can be nested.

#Use Cases for Tuples:
#1.  Immutable Data:
#Use tuples to represent fixed collections of items that should not change, such as coordinates in a 2D or 3D space.

coordinates = (10, 20)  # Represents a fixed point in a 2D space


#2.  Return Multiple Values: 
#Functions can return multiple values as a tuple, allowing you to group related data together.

#3.  Key in Dictionaries:
#Tuples can be used as keys in dictionaries because they are immutable, unlike lists.

point_to_name = { (1, 2): "A", (3, 4): "B" } # here (1,2) and (3,4) are tuple and used as keys of dictionary


#4.  Data Integrity:
#Use tuples to protect data from accidental modification, ensuring that the data remains constant  throughout the program.


#5.  Structuring Data:
#Tuples are useful for grouping related data together, especially when the size and type of the group are known and fixed.

student = ("John Doe", 21, "Computer Science")


#6.  Performance:
#Tuples have a slightly lower overhead compared to lists, making them faster and more memory-efficient for 
#certain use cases where immutability is required.

In [7]:
#Sets

#Definition: A set is an unordered collection of unique elements. Sets are mutable, meaning you can add or 
#remove elements, but they do not allow duplicates and do not maintain any order.

#Use Cases for Sets:

#1.  Unique Collections:
#Example: Use sets to store collections of unique items, ensuring that there are no duplicates.
unique_numbers = {1, 2, 3, 4, 4, 5} # if we display it output is {1, 2, 3, 4, 5}


#2.  Set Operations:
#Example: Sets support mathematical set operations like union, intersection, and difference, which can be useful
#for solving problems involving sets of data.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1 | set2  # Union: {1, 2, 3, 4, 5}
intersection = set1 & set2  # Intersection: {3}
difference = set1 - set2  # Difference: {1, 2}


#3.  Membership Testing:
#Example: Sets are optimized for membership tests. Checking if an item is in a set is generally faster than 
#checking membership in a list or tuple.
items = {1, 2, 3, 4, 5}
if 3 in items:
    print("3 is in the set") #output is true

#4. Removing Duplicates:
#Example: Use sets to remove duplicates from a list or other iterable.
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)  # output is {1, 2, 3, 4, 5}

#5.  Set Operations with Multiple Data Structures:
#Example: Sets can be used for operations involving multiple data structures, like finding common elements 
#between multiple lists.
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common_elements = set(list1) & set(list2)  # {3, 4}

3 is in the set

## Question_7: Describe how to add modify and delete items in a  dictionary with examples.

In [8]:
#Answer

In [13]:
#Defination : In Python, dictionaries are mutable, which means you can add, modify, and delete items. 
#Here’s a detailed explanation with examples for each operation:

# Adding data to Dictionary :
#syntax dictionary[key] = value. 
#If the key already exists, this will update the value; otherwise, it will create a new key-value pair.
dictData={"name":"Isha", "ID":123} 
dictData["place"]="Bangaloe" # Adding place key and bangalore as value to disctData
print(f"After ading place to dictonary data now data presented in dictData is : \n {dictData}")

#Modifying data in Dictionary:
#To modify an item in a dictionary, simply assign a new value to an existing key using the 
#syntax dictionary[key] = new_value.

dictData["name"]="Isha Doddamani"
print(f"\nAfter modifying the name's value ,  presented in dictData is : \n {dictData}")

#Deleting Items from a Dictionary
#You can delete items from a dictionary using the 
#   del statement and 
#   pop() method.

#Using del Statement: Removes a key-value pair by specifying the key.
#Syntax : del Dict_name[Key]

del dictData["place"]
print(f"\nAfter deleting the place's data  ,  presented in dictData is : \n {dictData}")

#Using pop() Method: Removes and returns the value associated with the specified key. we can also provide a default 
#value to return if the key does not exist.
#Syntax : Dict_name.pop(key,DefaultValue) Here DefaultValue is optional

dictData.pop("ID")
print(f"\nAfter deleting the ID's data  ,  presented in dictData is : \n {dictData}")

After ading place to dictonary data now data presented in dictData is :
 {'name': 'Isha', 'ID': 123, 'place': 'Bangaloe'}

After modifying the name's value ,  presented in dictData is :
 {'name': 'Isha Doddamani', 'ID': 123, 'place': 'Bangaloe'}

After deleting the place's data  ,  presented in dictData is :
 {'name': 'Isha Doddamani', 'ID': 123}

After deleting the ID's data  ,  presented in dictData is :
 {'name': 'Isha Doddamani'}

## Question_8:- Discuss the importance of dictionary keys being  immutable and provide examples.

In [14]:
#Answer

In [15]:
#Importance of Immutable Dictionary Keys

#1.  Hashability:
#Dictionary keys are used to compute a hash value, which determines the location of the key-value pair in 
#the underlying hash table. Immutable types have a fixed hash value, ensuring consistent performance in operations
#like lookups, insertions, and deletions.

#Example: If a key were mutable and its hash value changed, it could lead to inconsistencies and errors in the 
#dictionary's internal data structure.

#2.  Data Integrity:
#Explanation: Immutable keys ensure that once a key is added to a dictionary, it cannot be altered. 
#This prevents accidental changes to the keys that could otherwise lead to unpredictable behavior or data corruption.

#Example: An immutable key, such as a string or a tuple, maintains its integrity, so operations relying on the key 
#will function correctly.

#Consistency:
# Immutable keys guarantee that the dictionary maintains a consistent state. Since the keys cannot change, 
#the dictionary remains reliable and consistent for lookups and modifications.

#Example: In a dictionary where keys are tuples, the tuple elements cannot change, so dictionary operations 
#relying on these keys remain consistent.




# In Dictionary "String" and "Tuples" are used as keyes because they weere immutable and "List" and "Dictionary " also
#can't use as keyes because its immutable . 

#Example for immutable keyes

phoneData={"productName(string)":"Nothing" , ("Version1", "Version2"): ["Nothing.0", "Nothing.1"]} 
#Here productName(string) and  ("Version1", "Version2") - Tuple added as keyes and we wont get error 
print(phoneData)

{'productName(string)': 'Nothing', ('Version1', 'Version2'): ['Nothing.0', 'Nothing.1']}

In [17]:
#Example for Mutable  keyes

phoneNameData={1:"Vivo", [2,3]:["Redmi","Samsung"]} 
#[2,3]- List used as keyes . there are mutable hence we will get an error
print(phoneNameData)

TypeError: unhashable type: 'list'

#Thank you